---
- name: Create directories
  ansible.builtin.file:
    name: "{{ item }}"
    state: directory
    mode: "0644"
    owner: "10001"
    group: "10001"
  loop:
    - /srv/mimir

- name: Create Docker network
  community.docker.docker_network:
    name: mimir
    appends: true

- name: Deploy config file
  ansible.builtin.template:
    src: mimir-config.j2
    dest: /srv/mimir/mimir-config.yml
    mode: "0644"
    owner: oli
    group: admins
  register: config_file_deployed

- name: Deploy compose-file
  ansible.builtin.template:
    src: docker-compose.yml.j2
    dest: "{{ base_dir }}/mimir/docker-compose.yml"
    mode: "0644"
    owner: oli
    group: admins
  register: compose_deployed

- name: Add traefik label to Consul for {{ service }}
  community.general.consul_kv:
    key: "{{ item.key }}"
    value: "{{ item.value }}"
    host: "{{ consul_host }}"
    port: 443
    scheme: "https"
    state: present
  loop: "{{ mimir.traefik_labels | dict2items }}"
  delegate_to: localhost
  tags: consul

- name: Deploy container
  community.docker.docker_compose_v2:
    project_src: "{{ mimir_dir }}"
    state: present
    pull: always
    remove_orphans: true

- name: Wait for mimir to be ready
  ansible.builtin.uri:
    url: "https://{{ mimir_url }}/ready"
    return_content: true
    follow_redirects: true
    url_username: "{{ mimir_user }}"
    url_password: "{{ mimir_password }}"
    force_basic_auth: true
  register: result
  until: result.status == 200 and 'ready' in result.content
  retries: 30
  delay: 10
