---
services:
  crowdsec:
    image: crowdsecurity/crowdsec:{{ crowdsec.version }}
    container_name: "crowdsec"
    environment:
      COLLECTIONS: crowdsecurity/traefik crowdsecurity/appsec-virtual-patching crowdsecurity/appsec-generic-rules
      CUSTOM_HOSTNAME: crowdsec
      BOUNCER_KEY_TRAEFIK_DEV: {{ lookup('community.hashi_vault.vault_kv2_get', 'ansible/crowdsec')['secret']['LAPI_KEY'] }}
    volumes:
      - ./acquis.yaml:/etc/crowdsec/acquis.yaml:ro
      - {{ crowdsec.traefiklogs }}/logs:/var/log/traefik:ro
      - {{ crowdsec_dir }}:/var/lib/crowdsec/data/
      - {{ crowdsec_dir }}:/etc/crowdsec/
    labels:
      - "traefik.enable=false"
    expose:
      - 8080
      - 6060
      - 7442
    networks:
      - proxy
    restart: unless-stopped

networks:
  proxy:
    external: true
