---
a: &auth_attrib
  port: 443
  scheme: https
  path: "/metrics"
  auth:
    username: "admin"
    password: "{{ lookup('community.hashi_vault.vault_kv2_get', 'ansible/traefik')['secret']['metrics_password_plain'] }}"

alloy_scrapers:
  traefik:
    address: traefik.0lzi.com
    job: traefik
    <<: *auth_attrib
  # gitlab:
  #   address: gitlab.0lzi.com
  #   port: 443
  #   scheme: https
  #   path: "/metrics"
  #   job: gitlab
  #   auth:
  #     username: "prometheus"
  #     password: "{{ lookup('community.hashi_vault.vault_kv2_get', 'ansible/gitlab')['secret']['prometheus_password'] }}"
  openbao:
    address: vault.0lzi.com
    job: openbao
    <<: *auth_attrib
  crowdsec:
    address: crowdsec.0lzi.com
    job: crowdsec
    <<: *auth_attrib
  consul:
    address: consul.0lzi.com
    job: consul
    <<: *auth_attrib
