---
- name: Set services
  ansible.builtin.set_fact:
    service: "{{ gitlab_services__to_merge | first }}"

- name: Create gitlab data directory
  ansible.builtin.file:
    path: "{{ base_dir }}/gitlab/{{ item }}"
    state: directory
    owner: root
    group: admins
    mode: "0755"
  loop:
    - config
    - data
    - logs

- name: Create gitlab docker network
  community.docker.docker_network:
    name: gitlab-network
    state: present

- name: Template gitlab.rb configuration file
  ansible.builtin.template:
    src: gitlab.rb.j2
    dest: "{{ base_dir }}/{{ service }}/config/gitlab.rb"
    owner: root
    group: admins
    mode: '0644'
  register: gitlab_rb

- name: Template gitlab docker-compose file
  ansible.builtin.template:
    src: docker-compose.yml.j2
    dest: "{{ base_dir }}/{{ service }}/docker-compose.yml"
    owner: root
    group: admins
    mode: '0644'
  register: compose_file

- name: Pull Latest
  community.docker.docker_compose_v2_pull:
    project_src: "{{ base_dir }}/{{ service }}"
  register: gitlab_pull

- name: Start GitLab container
  community.docker.docker_compose_v2:
    project_src: "{{ base_dir }}/{{ service }}"
    recreate: always
    state: present
  tags: compose
  when: gitlab_rb.changed or compose_file.changed or gitlab_pull.changed

- name: Template backup service files
  ansible.builtin.template:
    src: "gitlab-backup.{{ item }}"
    dest: "/etc/systemd/system/gitlab-backup.{{ item }}"
    mode: '0644'
  loop:
    - service
    - timer
  notify:
    - Reload systemd
    - Start gitlab-backup service
