[Unit]
Description=Timer for backup of {{ service }} on {{ inventory_hostname_short }}

[Timer]
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target

