[Unit]
Description=Backup for {{ service }} on {{ inventory_hostname_short }}
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/rsync -a {{ base_dir }}/{{ service }} {{ base_dir }}/{{ backup_dir }}

User=root
Group=root
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7
