[Unit]
Description=BattleNetPrefill
After=remote-fs.target
Wants=remote-fs.target

[Service]
# Replace with your username
User=root

# Set this to the directory where SteamPrefill is installed.
WorkingDirectory=/srv/BattleNetPrefill

# This should be the full path to SteamPrefill, as well as any additional option flags
ExecStart= /srv/BattleNetPrefill/BattleNetPrefill prefill --no-ansi

Type=oneshot
Nice=19

[Install]
WantedBy=multi-user.target
