---
service: nextcloud
nextcloud:
  traefik_labels:
    # nextcloud main interface
    traefik/http/routers/nextcloud/rule: "Host(`nextcloud.0lzi.com`)"
    traefik/http/routers/nextcloud/service: "nextcloud"
    traefik/http/routers/nextcloud/entrypoints: "websecure"
    traefik/http/routers/nextcloud/tls/certresolver: "cloudflare"
    traefik/http/routers/nextcloud/tls: "true"
    traefik/http/routers/nextcloud/middlewares: "nextcloud-chain"
    # nextcloud Service
    traefik/http/services/nextcloud/loadbalancer/servers/0/url: "http://docker-1.0lzi.com:8080"
    # nextcloud middlewares
    traefik/http/middlewares/nextcloud-redirect/redirectscheme/scheme: "https"
    traefik/http/middlewares/nextcloud-secure-headers/headers/hostsProxyHeaders: "X-Forwarded-Host"
    traefik/http/middlewares/nextcloud-secure-headers/headers/hostsProxyHeaders: "X-Forwarded-Host"
    traefik/http/middlewares/nextcloud-chain/middlewares: "nextcloud-redirect,nextcloud-secure-headers"
