# Gitlab rb file
# This file is managed by Ansible, any changes made directly to it will be lost.
external_url '{{ gitlab.url }}'

# Gitlab SSH
gitlab_rails['gitlab_shell_ssh_port'] = {{ gitlab.ssh_port }}

letsencrypt['enable'] = false
nginx['listen_port'] = {{ gitlab.port }}
nginx['listen_https'] = {{ gitlab.https | default('false') | lower }}

# Registry settings
{% if gitlab.registry | default(false) %}
gitlab_rails['registry_enable'] = {{ gitlab.registry | default('false') | lower }}
registry_external_url '{{ gitlab.registry_url }}'
registry_nginx['listen_https']    = false
registry_nginx['listen_port'] = {{ gitlab.registry_port | default(5000) }}
{% endif %}

# Prometheus settings
{% if gitlab.prometheus | default(false) %}
prometheus_monitoring['enable'] = true
{% endif %}


