---
# Run with ansible-playbook -i inventory/hosts traefik.yml
- name: Setup traefik
  hosts: traefik_servers
  remote_user: "{{ user }}"
  become: true
  become_method: sudo
  gather_facts: true

  roles:
    - users
    - docker
    - traefik
    - update_consul
