---
- name: Clearup
  hosts: openbao_servers
  become: true

  tasks:
    - name: Remove bao
      ansible.builtin.apt:
        package: bao-hsm
        state: absent

    - name: Stop bao service
      ansible.builtin.service:
        name: openbao.service
        state: stopped

    - name: Clearup dirs
      ansible.builtin.file:
        path: "{{ item }}"
        state: absent
      with_items:
        - /opt/openbao
        - "{{ openbao_config_dir }}"

    - name: Remove bao user
      ansible.builtin.user:
        name: openbao
        state: absent
