{% if watchtower.schedule is not defined %}
WATCHTOWER_POLL_INTERVAL:  "{{ watchtower.interval | default('60') }}"
{% else %}
WATCHTOWER_SCHEDULE: "{{ watchtower.schedule }}"
{% endif %}
WATCHTOWER_LABEL_ENABLE: "{{ watchtower.label | ternary('True', 'False', 'True') }}"
WATCHTOWER_SCOPE: "{{ watchtower.scope | default('default') }}"
WATCHTOWER_EPHEMERAL_SELF_UPDATE: 'True'
{% if watchtower.disk_max is defined %}
WATCHTOWER_DISK_SPACE_MAX: "{{ watchtower.disk_max }}G"
{% endif %}
