{{ dhcp_router }} router.local
192.168.1.1 switch.local
192.168.1.21 portainer.local
192.168.1.20 influx.local
192.168.1.20 grafana.local
{{ pihole_primary }} pihole1.local
{{ pihole_secondary }} pihole2.local