---
traefik_services__to_merge:
  - traefik
traefik_dashboard_user: "admin"
traefik_dashboard_password: "{{ lookup('community.hashi_vault.vault_kv2_get', 'ansible/traefik')['secret']['dashboard_password_plain'] }}"
traefik_metrics_password: "{{ lookup('community.hashi_vault.vault_kv2_get', 'ansible/traefik')['secret']['metrics_password_plain'] }}"
traefik:
  logs:
    level: INFO
    access: true
  metrics:
    prometheus: true
  plugins:
    - name: bouncer
      url: "github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin"
      version: v1.5.0
  traefik_labels:
    # Traefik Default
    traefik/http/routers/http/rule: "Host(`traefik.0lzi.com`)"
    traefik/http/routers/http/service: "api@internal"
    traefik/http/routers/http/middlewares/0: "http-rfc1918"
    traefik/http/routers/http/middlewares/1: "dashboard"
    traefik/http/routers/http/entryPoints: "websecure"
    traefik/http/middlewares/dashboard/basicauth/users: >-
      {{ traefik_dashboard_user }}:{{ traefik_dashboard_password | password_hash('md5', salt=inventory_hostname_short) }}
    # Traefik Metrics
    traefik/http/routers/prometheus/rule: "Host(`traefik.0lzi.com`) && PathPrefix(`/metrics`)"
    traefik/http/routers/prometheus/entrypoints: websecure
    traefik/http/routers/prometheus/service: "prometheus@internal"
    traefik/http/routers/prometheus/middlewares/0: "prometheus"
    traefik/http/routers/prometheus/middlewares/1: "metrics"
    traefik/http/middlewares/metrics/basicauth/users: >-
      {{ traefik_dashboard_user }}:{{ traefik_metrics_password | password_hash('md5', salt=inventory_hostname_short) }}
    traefik/http/middlewares/prometheus/ipAllowList/sourcerange: "10.18.0.0/16"
    # Traefik ipAllowList
    traefik/http/middlewares/http-rfc1918/ipAllowList/sourceRange: "10.0.0.0/8, 192.168.0.0/16, 172.16.0.0/12"
    traefik/tcp/middlewares/tcp-rfc1918/ipAllowList/sourceRange: "10.0.0.0/8, 192.168.0.0/16, 172.16.0.0/12"
    # traefik catch-all-http-router
    traefik/http/routers/catch-all-http/rule: "Hostregexp(`.*`)"
    traefik/http/routers/catch-all-http/entrypoints: "http"
    traefik/http/routers/catch-all-http/middlewares/0: "catch-all"
    traefik/http/routers/catch-all-http/priority: "-1"
    traefik/http/routers/catch-all-http/service: "noop@internal"
    # traefik catch-all-https-router
    traefik/http/routers/catch-all-https/rule: 'Host(`0lzi.com`) || Hostregexp(`^.+\.0lzi\.com$`)'
    traefik/http/routers/catch-all-https/entrypoints: "websecure"
    traefik/http/routers/catch-all-https/middlewares/0: "catch-all"
    traefik/http/routers/catch-all-https/priority: "-1"
    traefik/http/routers/catch-all-https/service: "noop@internal"
    traefik/http/routers/catch-all-https/tls: "true"
    traefik/http/routers/catch-all-https/tls/domains/0/main: "*.0lzi.com"
    traefik/http/routers/catch-all-https/tls/certresolver: "tlsresolver"
    # Traefik catch-all middlewares
    traefik/http/middlewares/catch-all/redirectRegex/regex: "^https?://.*"
    traefik/http/middlewares/catch-all/redirectRegex/replacement: "https://blog.0lzi.com"
    traefik/http/middlewares/catch-all/redirectRegex/permanent: "true"
