---
- name: Update hosts's
  hosts: all
  become: true

  tasks:
    - name: Update host
      when: ansible_os_family == 'Debian'
      ansible.builtin.apt:
        name: "*"
        only_upgrade: true
        update_cache: true
        force_apt_get: true
        cache_valid_time: 3600

    - name: Dist upgrade host
      when: ansible_os_family == 'Debian'
      ansible.builtin.apt:
        upgrade: dist
        cache_valid_time: 3600

    - name: Check if reboot required
      register: reboot_required_file
      ansible.builtin.stat:
        path: /var/run/reboot-required
        get_checksum: false

    - name: Reboot the box if kernel updated
      ansible.builtin.reboot:
        msg: "Reboot initiated by Ansible for kernel updates"
      when: reboot_required_file.stat.exists
      register: rebooted
      throttle: 1

    - name: Unseal vault # noqa no-changed-when command-instead-of-shell
      ansible.builtin.shell: /usr/bin/bao operator unseal {{ item }}
      environment:
        BAO_SKIP_VERIFY: "1"
        BAO_ADDR: "{{ tls.enabled | ternary('https', 'http') }}://127.0.0.1:8200"
      loop: "{{ unseal_keys[0:3] }}"
      when:
        - inventory_hostname in groups['openbao_servers']
        - rebooted.changed
      no_log: true
