---
- name: Add DNS record
  hosts: localhost
  gather_facts: false
  vars_files:
    - ./vars/vars.yml
  tasks:

    - name: Create new A record
      community.general.cloudflare_dns:
        zone: "{{ domain }}"
        record: "{{ item }}"
        type: A
        value: "{{ public_ip }}"
        account_email: "{{ account_email }}"
        account_api_key: "{{ account_api_token }}"
        # api_token: "{{ account_api_token }}"
        ttl: 60
        state: present
        proxied: false
      loop: "{{ dns_records }}"
      register: record
