---
unseal:
  extends: .default
  stage: playbooks
  tags:
    - ansible
  when: manual
  variables:
    VAULT_ADDR: https://vault.0lzi.com
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.0lzi.com
  script:
    - uv run ansible-playbook playbooks/openbao/unseal.yml --tags node1,node2,node3
  after_script:
    - rm -rf ~/.ssh
    - rm -f vault_password
  cache:
    paths:
      - .pip_cache
      - ~/.ansible/roles
