---
- name: Configure m1 Openstack
  hosts: localhost
  gather_facts: false
  vars_files:
    - auth.yml
    - domains.yml
    - projects.yml
    - users.yml
    - networks.yml
    - subnets.yml
    - keys.yml
    - flavours.yml
    - quotas.yml

  tasks:
    - name: Create Domains
      ansible.builtin.include_tasks: os-domains.yml
      tags: domains

    - name: Create Projects
      ansible.builtin.include_tasks: os-projects.yml
      tags: projects

    - name: Create Users
      ansible.builtin.include_tasks: os-users.yml
      tags: users

    - name: Create Networks
      ansible.builtin.include_tasks: os-networks.yml
      tags: networks

    - name: Create Subnets
      ansible.builtin.include_tasks: os-subnets.yml
      tags: subnets

    - name: Create Keypairs
      ansible.builtin.include_tasks: os-keypairs.yml
      tags: keypairs

    - name: Create Flavours
      ansible.builtin.include_tasks: os-flavours.yml
      tags: flavours

    - name: Set Quotas
      ansible.builtin.include_tasks: os-quotas.yml
      tags: quotas
