---
services:
  loki:
    image: {{ loki_image }}
    container_name: loki
    command: -config.file=/etc/loki/local-config.yml
    user: "10001:10001"
    ports:
      - 3100:3100
    volumes:
      - {{ loki_dir }}/local-config.yml:/etc/loki/local-config.yml
      - {{ loki_dir }}/data:/data/loki
    restart: unless-stopped

networks:
  loki:
    external: true

