- name: Add traefik label to Consul for GitLab
  community.general.consul_kv:
    key: "{{ item.key }}"
    value: "{{ item.value }}"
    host: consul.0lzi.com
    port: 443
    scheme: "https"
    state: present
  loop: >
    {{ (service is defined and vars[service].traefik_labels or {}) | dict2items }}
  delegate_to: localhost
  tags: consul
