- name: Add traefik label to Consul {{ service }}
  community.general.consul_kv:
    key: "{{ item }}"
    value: "{{ vars[service].traefik_labels[item] }}"
    host: consul.0lzi.com
    port: 443
    scheme: "https"
    state: present
  delegate_to: localhost
  loop: >
    {{ (service is defined and vars[service].traefik_labels.keys() or {}) }}
