---
service: crowdsec
crowdsec:
  enabled: true
  version: "latest"
  traefiklogs: /srv/traefik
  traefik_labels:
    traefik/http/middlewares/crowdsec/plugin/bouncer/enabled: "true"
    traefik/http/middlewares/crowdsec/plugin/bouncer/logLevel: "DEBUG"
    traefik/http/middlewares/crowdsec/plugin/bouncer/crowdsecappsecenabled: "true"
    traefik/http/middlewares/crowdsec/plugin/bouncer/crowdsecappsechost: "crowdsec:7422"
    traefik/http/middlewares/crowdsec/plugin/bouncer/crowdseclapikey: >-
      {{ lookup('community.hashi_vault.vault_kv2_get', 'ansible/crowdsec')['secret']['LAPI_KEY'] }}
    traefik/http/middlewares/crowdsec/plugin/bouncer/crowdseclapischeme: "http"
