services:
  traefik:
    image: "traefik:v{{ traefik_version }}"
    container_name: "traefik"
    ports:
      - "80:80"
      - "443:443"
      - "2222:2222"
    environment:
      - "CF_DNS_API_TOKEN={{ cf_api_token }}"
    volumes:
      - "{{ traefik_dir }}/certs:/letsencrypt"
      - "{{ traefik_dir }}/traefik.yml:/etc/traefik/traefik.yml:ro"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "{{ traefik_dir }}/logs:/var/log/traefik"
    networks:
      - proxy
    labels:
      - "diun.enable=true"
      - "traefik.enable=true"
    restart: always
networks:
  proxy:
    external: true

