global:
  checkNewVersion: false
  sendAnonymousUsage: false

log:
  level: DEBUG

api:
  dashboard: true
  insecure: true

entryPoints:
  http:
    address: :80
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https

  https:
    address: :443

certificatesResolvers:
  cloudflare:
    acme:
      email: {{ cf_email }}
      storage: /letsencrypt/acme.json
      dnsChallenge:
        provider: cloudflare
        delayBeforeCheck: 0
        resolvers:
        - "1.1.1.1:53"
        - "8.8.8.8:53"

providers:
  # Enable Docker configuration backend
  docker:
    exposedByDefault: false
#  consul:
#    endpoints: ""
