// *** CONFIGURATION ***
logging {
  level  = "info"
  format = "logfmt"
}

// *** METRICS ***

prometheus.exporter.unix "node_exporter" {
    procfs_path  = "/proc"
    rootfs_path  = "/"
    sysfs_path   = "/sys"
    udev_data_path = "/run/udev/data"
}

prometheus.scrape "node_exporter_scraper" {
  targets = prometheus.exporter.unix.node_exporter.targets
  scrape_interval = "30s"
  scrape_timeout = "25s"
  forward_to = [prometheus.relabel.relabel_node_exporter_job_name.receiver]
}

prometheus.relabel "relabel_node_exporter_job_name" {
  rule {
    action = "replace"
    source_labels = ["job"]
    regex = "integrations/unix"
    replacement = "node_exporter_scraper"
    target_label = "job"
  }
  forward_to = [prometheus.remote_write.mimir_{{ monitoring.mimir.env }}.receiver]
}

prometheus.remote_write "mimir_{{ monitoring.mimir.env }}" {
    endpoint {
        url = "{{ monitoring.mimir.url }}"

        headers = {
            "X-Scope-OrgID" = "{{ monitoring.mimir.org_id }}",
        }

        basic_auth {
            username = "{{ monitoring.mimir.user }}"
            password = "{{ monitoring.mimir.password }}"
        }
    }
}
// *** LOGS ***
{% if inventory_hostname in groups['docker_servers'] %}

// ** DOCKER LOGS COLLECTOR ***
discovery.docker "docker_logs" {
  host = "unix:///var/run/docker.sock"
  refresh_interval = "10s"
}

discovery.relabel "container_name_label" {
  targets = []

  rule {
    source_labels = ["__meta_docker_container_name"]
    regex         = "/(.+)"
    target_label  = "app"
    replacement   = "{{ inventory_hostname_short }}_$1-container"
  }
}

loki.source.docker "collect_docker_logs" {
  host = "unix:///var/run/docker.sock"
  targets = discovery.docker.docker_logs.targets

  relabel_rules = discovery.relabel.container_name_label.rules

  labels = {
    job = "loki.source.docker.collect_docker_logs",
  }

  forward_to = [loki.write.loki_{{ monitoring.loki.env }}.receiver]
}
{% endif %}

// *** SYSTEMD JOURNAL ***
loki.source.journal "systemd_journal" {
  path = "/var/log/journal"
  forward_to = [loki.write.loki_{{ monitoring.loki.env }}.receiver]
  labels  = {hostname = "{{ inventory_hostname_short }}"}
}
// ** SSH JOURNAL
loki.source.journal "ssh_journal" {
  forward_to = [loki.write.loki_{{ monitoring.loki.env }}.receiver]
  matches = "_SYSTEMD_UNIT=ssh.service"
  labels  = {hostname = "{{ inventory_hostname_short }}", journal = "ssh"}
}

// *** LOKI WRITE ENDPOINT ***
loki.write "loki_{{ monitoring.loki.env }}" {
    endpoint {
        url = "{{ monitoring.loki.url }}"

        basic_auth {
            username = "{{ monitoring.loki.user }}"
            password = "{{ monitoring.loki.password }}"
        }
    }
}

